html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: montserrat;
}
.main-container {
  width: 350px;
  height: 350px;
  border: 5px solid red;
}

.grid-container {
  width: 340px;
  height: 340px;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  border: 0;
  flex-grow: 1;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.hover {
  background-color: #000000;
}

.clear-grid {
  border: 2px solid rgb(18, 101, 255);
  color: rgb(18, 101, 255);
  border-radius: 11px;
  padding: 10px 20px;
  background-color: transparent;
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
  margin-bottom: 20px;
}

.clear-grid:hover {
  background-color: rgb(18, 101, 255);
  color: #fff;
}
